<nav>
  <div class="nav-wrapper light-blue">
    <a routerLink="/" class="brand-logo left">
      Tasker
    </a>
    <ul id="nav-mobile" class="right ">
      <li>
        <a aria-current="page" class=" lighten-3 active" routerLink="/">
          Tasks
        </a>
      </li>
      <li>
        <a aria-current="page" class=" lighten-3 active" routerLink="/">
          Users
        </a>
      </li>
      <li>
        <a routerLink="/">
          <i class="material-icons" title="logout">power_settings_new</i>
        </a>
      </li>
      <li>
        <a
          aria-current="page"
          class=" lighten-3 "
          routerLink="/notifications"
          title="notifications"
        >
          <i class="material-icons">notifications</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
