<ul class="collection with-header notifications">
  <li class="collection-header"><h4>Notifications</h4></li>
  <!--If there are no notifications-->
  <p *ngIf="notificationList.length === 0">No New Notifications</p>

  <!--If there are notifications-->
  <ng-container *ngFor="let notification of notificationList">
    <li class="collection-item">
      <div>
        {{ notification.task_name }}

        <span class="secondary-content">{{
          notification.created_on | date: 'short'
        }}</span>
      </div>
    </li>
  </ng-container>
</ul>
